* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.titulo{
    height: 30px;
    background-color: grey;
    color: white;
    text-align: center;
}

.sceneryBattle{
    position: relative;
    display: flexbox;
    z-index: -100;
    height: 400px;
}

.rivalImg{
    position: absolute;
    margin-top: 5.5rem;
    top: 0;
    width: 150px; 
    z-index: -1;
    margin-left: 20px;
}

.playerImg{
    position: absolute;
    width: 210px; 
    z-index: -1;
    top: 220px;
    margin-left: -200px;
}

.dialogo{
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

